__pycache__/
*.py[cod]
*$py.class
*.spec
.env
venv/
.idea/
.vscode/

# Build artifacts
dist/
build/
*.exe
plan.md

# Lite Version (Experimental)
lite_backup.zip

# Local Plans & Notes (Private)
*.md
!README.md
!GH release manual.md

# Except the main executables
!OLED-Customizer.exe
!OLED-Customizer.spec
!uninstall.exe

# User specific
config.json
credentials.json
yt_nowplaying.json
*.pem
*.crx
.lock
debug_fs.txt
build.ps1
tools/
