__pycache__/
*.py[cod]
*$py.class
*.spec
.env
venv/
.idea/
.vscode/

# Build artifacts
dist/
build/
*.exe

# Except the main executable
!OLED-Customizer.exe
!OLED-Customizer.spec

# User specific
config.json
credentials.json
yt_nowplaying.json
cert.pem
key.pem
.lock
